[submodule "documentation/themes/hugo-theme-relearn"]
	path = documentation/themes/hugo-theme-relearn
	url = https://github.com/nielsbasjes/hugo-theme-relearn/
	branch = aedb438436cd539ddc36370d45b25480c60e3c0f
