body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 95%;
    margin: 1%;
    /*border: dodgerblue;*/
    /*border-style: solid;*/
    /*border-radius: 20px;*/
    align-self: center;
    padding: 1%;
}
.header {
    background-image: url(excavator.svg);
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: 5px;
    padding-left: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.title {
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    text-shadow: 0.05em 0.05em #aaaaaa ;
}
.version {
    font-variant: small-caps;
    text-align: center;
}
.speed {
    font-variant: small-caps;
    text-align: center;
}
.copyright {
    text-align: center;
}
.input {
    font-weight: bold;
    font-size: large;
    font-variant: small-caps;
    border-radius: 5px;
    border-color: dodgerblue;
    border-width: 2px;
    border-style: dashed;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
#result {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: 0 solid dodgerblue;
    border-collapse: collapse;
    width: 100%;
}

#result td, #result th {
    border: 1px solid #ddd;
    padding: 8px;
}

#result tr:nth-child(even){background-color: #f2f2f2;}

#result tr:hover {background-color: #ddd;}

#result th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: dodgerblue;
    color: white;
}
.logobar{
    background-repeat: no-repeat;
    background-size: 3em 3em;
    background-position: 0.5em;
    padding-left: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
}
.bug {
    background-image: url(bug.svg);
}
.source {
    background-image: url(git-square.svg);
}
.tryyourown {
    background-image: url(microscope.svg);
}
.tryexample {
    background-image: url(paper-plane.svg);
}
.contribute{
    background-image: url(cc-paypal.svg);
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: larger;

}

input[type=submit] {
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    font-variant: small-caps;
}

/*input[type=submit]:hover {*/
    /*background-color: dodgerblue;*/
/*}*/

.testButton {
    background-color: blue;
}

.testButton:hover {
    background-color: deepskyblue;
}

.demoButton {
    background-color: blue;
}

.demoButton:hover {
    background-color: deepskyblue;
}

